
<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
      </ul>
    </div>
  <% end %>
      <div class="form-group">
      <%= f.label :color, t('app.models.product.bs_attributes.color', :default => 'color').capitalize, :class => "control-label" %>
      <div class="input-group">
        <%= f.color_field :color, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, t('app.models.product.bs_attributes.description', :default => 'description').capitalize, :class => "control-label" %>
      <%= f.text_area :description, :class => "wysiwyg-editor form-control" %>
    </div>
    <%= f.hidden_field :description_typetext, :value => "html"  %>
    <div class="form-group">
      <%= f.label :family, t('app.models.product.bs_attributes.family', :default => 'family').capitalize, :class => "control-label" %>
      <%= f.collection_select :family_id, Family.all, :id, :caption, { :include_blank => true }, { :class => "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.label :my_date, t('app.models.product.bs_attributes.my_date', :default => 'my_date').capitalize, :class => "control-label" %>
      
        <div id="container_product_my_date_dp" data-field="product_my_date_input_" class="input-group input-datetime dpicker " data-target-input="nearest">
          <%= f.text_field :my_date, :value => (begin @product.my_date.strftime("%d/%m/%Y") rescue "" end),
                           :class => "form-control datetimepicker-input",
                           "data-target" => "#container_product_my_date_dp",
                           "data-id" => "product_my_date_input_", id: nil %>
          <div class="input-group-append" data-target="container_product_my_date_dp" data-toggle="datetimepicker">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        
        <% ["year","mon","day" ].each_with_index do |meth, i| %>
          <%= f.hidden_field("my_date(#{i+1}i)", value: @product.my_date&.send(meth), id: "product_my_date_input_#{i+1}i") %>
        <% end %>
      
    </div>
    <div class="form-group">
      <%= f.label :my_datetime, t('app.models.product.bs_attributes.my_datetime', :default => 'my_datetime').capitalize, :class => "control-label" %>
      
      <div class="row">
      
        <div id="container_product_my_datetime_dp" data-field="product_my_datetime_input_" class="input-group input-datetime dpicker col-sm" data-target-input="nearest">
          <%= f.text_field :my_datetime, :value => (begin @product.my_datetime.strftime("%d/%m/%Y") rescue "" end),
                           :class => "form-control datetimepicker-input",
                           "data-target" => "#container_product_my_datetime_dp",
                           "data-id" => "product_my_datetime_input_", id: nil %>
          <div class="input-group-append" data-target="container_product_my_datetime_dp" data-toggle="datetimepicker">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        
          <div id="container_product_my_datetime_tp" data-field="product_my_datetime_input_" class="input-group input-datetime tpicker col-sm" data-target-input="nearest">
            <%= f.text_field :my_datetime, :value => (begin @product.my_datetime.strftime("%H:%M") rescue "" end),
                             :class => "form-control datetimepicker-input",
                             "data-target" => "#container_product_my_datetime_tp",
                             "data-id" => "product_my_datetime_input_", id: nil %>
            <div class="input-group-append" data-target="container_product_my_datetime_tp" data-toggle="datetimepicker">
              <span class="input-group-text"><i class="fa fa-clock"></i></span>
            </div>
          </div>
        
        <% ["year","mon","day" ,"min","hour"].each_with_index do |meth, i| %>
          <%= f.hidden_field("my_datetime(#{i+1}i)", value: @product.my_datetime&.send(meth), id: "product_my_datetime_input_#{i+1}i") %>
        <% end %>
      
        </div>
      
    </div>
    <div class="form-group">
      <%= f.label :price, t('app.models.product.bs_attributes.price', :default => 'price').capitalize, :class => "control-label" %>
      <div class="input-group">
        <span class="input-group-text">$</span><%= f.text_field :price, :class => "form-control" %>
      </div>
    </div>
<!-- Beautiful_scaffold - AddField - Do not remove -->
  <div>
    <%= link_to products_path, :class => "btn btn-light" do %>
      <i class="fa fa-chevron-left"></i> <%= t(:back, :default => "Back") %>
    <% end %>
    <%= f.submit :class => "btn btn-primary", :data => { :disable_with => t(:saving, :default => "Saving...") } %>
  </div>
<% end %>


